{% extends 'base.html' %}
{% load static %}

{% load index %}

{% block title %}
  Método newton Rapshon
{% endblock %}

{%block body%}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
<form action="" method="POST">
    {% csrf_token %}
    Input function: <input type="text" name="inputField" size="30"/>
    <br>
    Input point A: <input type="number" step="any" name="puntoA">
    <br>
    <input type="submit" value="submit">
</form>  
  <dir>
    <p>Resultado</p>
    <table>
      <tr>
        <th>xn</th>
        <th>fxn</th>
        <th>dfxn</th>
        <th>xr</th>
        <th>ERROR</th>
      </tr>
      {% for i in count %}
      <tr>
        <td>{{ xn|index:i }}</td>
        <td>{{ fxn|index:i }}</td>
        <td>{{ dfxn|index:i }}</td>
        <td>{{ xr|index:i }}</td>
        <td>{{ err|index:i }}</td>
      </tr>
      {% endfor %}
    </table>
  </dir>

{% endblock %}