{% extends 'base.html' %}
{% load static %}

{% load index %}

{% block title %}
  Método Punto Fijo
{% endblock %}
{%block body%}
<div>
    <div id="applet_container"></div>
    <br>
    <form action="/Ecuaciones-no-lineales/Punto-Fijo" method="POST">
      {% csrf_token %}

      <div>
        Input function f(x): <input value="" id="funcionF" type="text" name="inputField" size="30"/>
        <button onclick="evalInput(document.getElementById('funcionF').value);return false;">Mostrar Grafico</button>
      </div>

      <div>
        Input function g(x): <input value="" id="funcionG" type="text" name="funcionG" size="30"/>
        <button onclick="evalInput(document.getElementById('funcionG').value);return false;">Mostrar Grafico</button>
      </div>

      <div>
        Intervalo:[<input id="puntoA" type="number" name="puntoA" step="any">]
      </div>

      <div>
        Input ERROR:
        <input name="error" type="number" value="0.0001" step="any" min="0.00001" max="0.01">
      </div>

      <div>
        Input truncate:
        <input name="truncate" type="number" max="5" min="1">
      </div>
      <br>
      <input type="submit" value="submit">
    </form>

    <div>
      <p>Resultado</p>
      <table class="table table-striped">
        <thead class="table-dark">
          {% for i in nCate %}
          <th>{{ cate|index:i }}</th>
          {% endfor %}
        </thead>


        {% if metodo == "puntoFijo" %}
          {% for i in count %}
          <tr>
            <td>{{ xi|index:i }}</td>
            <td>{{ fx|index:i }}</td>
            <td>{{ gx|index:i }}</td>
            <td>{{ err|index:i }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </table>
    </div>
  </div>
  <script src="{% static 'js/index.js' %}"></script>
  <script type="text/javascript">
    function evalInput(strInput) {
      ggbApplet.evalCommand(strInput);
      return false;
    }
  </script>

{% endblock %}