<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú despegable</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <img src="rayas.png" onclick="mostrar()" class="rayasFuera">
    <nav class="nav" id="sidebar">
        <div class="sidebar__boton">
            <img src="rayas.png" onclick="ocultar()" class="rayas">
            <h3>Métodos</h3>
        </div>
        <ul class="list">

            <li class="list__item">
                <div class="list__button">
                    <a href="#" class="nav__link">Método Gráfico</a>
                </div>
            </li>

            <li class="list__item">
                <div class="list__button">
                    <a href="#" class="nav__link">Método Analítico</a>
                </div>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Métodos Cerrados</a>
                    <img src="assets/arrow.svg" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Método de Bisección</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Método de Falsa Posición</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Métodos Abiertos</a>
                    <img src="assets/arrow.svg" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Iteración de punto fijo</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Newton Raphson</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Método de la secante</a>
                    </li>
                </ul>

            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Métodos Convencionales</a>
                    <img src="assets/arrow.svg" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Newton Raphson modificado</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Método de Müller</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Método de Bairstow</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Método de Horner</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Método de Graeffe</a>
                    </li>
                </ul>

            </li>

        </ul>
    </nav>
    
    <script src="main.js"></script>
</body>
</html>